body {
font-family: "Quicksand";


}

label {
    font-family: 'Andale Mono', AndaleMono, monospace;
    font-size: 24px;
}
labelsm {
    font-family: 'Andale Mono', AndaleMono, monospace;
    font-size: 15px;
}

/* #btn1 {
    margin-right: 400px;
}  */

#btn2 {
    margin-left: 90%;
}

.btns {
    display: inline-block;
}

a {
    color: #00ffff;
    text-decoration: none;
}

.login{

    border-style: solid;
    border-width: 1px;
    border-color: #00ffff;
    padding: 10px;
    
}