body {
	padding: 0px;
	background-color: #8bb7e0;
}

header {
	text-align: center;
	font-size: 50px;
	font-family: "Trebuchet MS", "Quicksand";
}

ul {
	position: relative;
	list-style-type: none;
	width: 100%;
	height: auto;
	top: 25px;
	color: rgb(0, 0, 0);
	padding: 0px;
}

dl {
	text-align: center;
	list-style-type: none;
	position: inherit;
	color: rgb(255, 255, 255);
	font-size: 25px;
	padding: 0px 30px;
	font-family: "Trebuchet MS", "Quicksand";
}

li {
	padding: 10px;
	background: rgb(44, 44, 44);
	transition-property: all;
	transition-duration: 0.5s;
}

li:hover {
	background: rgb(80, 80, 80);
}

cpick {
	position: absolute;
	width: 0px;
	height: 0px;
    margin-left: -10%; 
	transition-property: all;
	transition-duration: 0.5s;
	background: rgb(255, 255, 255);
	border-style: solid;
	border-width: 2px;
	border-color: rgb(100, 100, 100);
	border-radius: 5%;
}

cpick ul {
    list-style-type: none;
    position: absolute;
    width: 25%;
    height: auto;
    left: 0px;
	top: 0px;
	border-radius: 5%;
}
#sleep {
	background: rgb(60, 30, 90);
	color: rgb(255, 255, 255);
}
#work {
    background: rgb(166, 107, 45);
}
#school {
    background: rgb(90, 176, 255);
}
cpick ul li {
	width: 25%;
    height: 30px;
	padding: 0px;
	transition-property: all;
	transition-duration: 0.5s;
	text-align: center;
	vertical-align: middle;
	font-family: "Trebuchet MS", "Quicksand";
}

button {
	width: auto;
	height: auto;
	text-align: center;
	padding: 20px;
	border: none;
	font-size: 25px;
	font-family: "Quicksand";
	position: relative;
	top: 100px;
}
div {
	text-align: center;
}
#menuUl {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #779ec4;
}
#menuUl li {
	float: left;
}
#menuUl li a {
	display: inline-block;
	color: #ffcb54;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-family: sans-serif;
}
#menuUl li a:hover {
	background-color: #698daf;
	color: #f7bb31;
	transition: 0.3s;
}
#menuUl .active {
	background-color: #526d87;
	font-weight: bold;
	color: #f7bb31;
}

h1 {
	font-family: "Quicksand";
}