body {
	padding: 0px;
}

header {
	text-align: center;
	font-size: 50px;
	font-family: "Trebuchet MS", "Quicksand";
}

ul {
	position: relative;
	list-style-type: none;
	width: 100%;
	height: auto;
	left: 10%;
	top: 25px;
	color: rgb(0, 0, 0);
	padding: 0px;
}

dl {
	text-align: center;
	list-style-type: none;
	position: inherit;
	width: 80%;
	color: rgb(255, 255, 255);
	font-size: 25px;
	padding: 0px;
	font-family: "Trebuchet MS", "Quicksand";
}

li {
	padding: 10px;
	background: rgb(44, 44, 44);
	transition-property: all;
	transition-duration: 0.5s;
}

li:hover {
	background: rgb(80, 80, 80);
}

cpick {
	position: absolute;
	width: 0px;
	height: 0px;
    margin-left: -10%; 
	transition-property: all;
	transition-duration: 0.5s;
	background: rgb(255, 255, 255);
	border-style: solid;
	border-width: 2px;
	border-color: rgb(100, 100, 100);
	border-radius: 5%;
}

cpick ul {
    list-style-type: none;
    position: absolute;
    width: 25%;
    height: auto;
    left: 0px;
	top: 0px;
	border-radius: 5%;
}
#sleep {
	background: rgb(65, 57, 109);
	color: rgb(255, 255, 255);
}
#work {
    background: rgb(66, 147, 85);
}
#school {
    background: rgb(90, 176, 255);
}
cpick ul li {
	width: 25%;
    height: 30px;
	padding: 0px;
	transition-property: all;
	transition-duration: 0.5s;
	text-align: center;
	vertical-align: middle;
	font-family: "Trebuchet MS", "Quicksand";
}